.passivetext
{
	color: #9898F0;
	font-weight: bold;
}

.powertext
{
	color: #55FF55;
	font-weight: bold;
}

.hastetext
{
	color: #5555FF;
	font-weight: bold;
}

.healthtext
{
	color: #FF2929;
	font-weight: bold;
}

.regentext
{
	color: #EE4B4B;
	font-weight: bold;
}

.armortext
{
	color: #FF8800;
	font-weight: bold;
}

.mrtext
{
	color: #9545D5;
	font-weight: bold;
}

.lifedraintext
{
	color: #FFE656;
	font-weight: bold;
}

.misctext
{
	color: #E3E3A3;
	font-weight: bold;
}
.